<p id="notice"><%= notice %></p>

<h1>Recordings</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordings.each do |recording| %>
      <tr>
        <td><%= recording.artist %> - <%= recording.title %></td>
        <td><a onclick="window.audio.src='/uploads/<%=recording.filename%>';window.audio.load();" href="javascript:void(0)">écouter</a></td>
        <td><%= link_to 'Show', recording %></td>
        <td><%= link_to 'Edit', edit_recording_path(recording) %></td>
        <td><%= button_to 'Supprimer', recording_path(recording, page: params[:page]),{method: :delete} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%@p= @r.precedent(params[:page])%>
<%@s= @r.suivant(params[:page])%>
<p>Hey!!</p>
<%if @p%>
<%=link_to "<", recordings_path(page: @p)%>
<%end%>
<%if @s%>
<%=link_to ">", recordings_path(page: @s)%>
<%end%>

<br>

<%= link_to 'New Recording', new_recording_path %>
