<p id="notice"><%= notice %></p>

<h1>Recordings</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordings.each do |recording| %>
      <tr>
        <td><audio  preload="none" class="mysong" controls>
  <source  src="/uploads/<%= recording.filename %>" type="audio/wav">
  Your browser does not support the audio tag.
</audio></td>
        <td><%= recording.song.displayname %></td>
        <td><%= link_to 'Show', recording %></td>
        <td><%= link_to 'Edit', edit_recording_path(recording) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%if @recordings.precedent(params[:page])%>
<%=link_to "<", recordings_path(page: @recordings.precedent(params[:page]))%>
<%end%>
<%if @recordings.suivant(params[:page])%>
<%=link_to ">", recordings_path(page: @recordings.suivant(params[:page]))%>
<%end%>

<br>

<%= link_to 'New Recording', new_recording_path %>
