<p id="notice"><%= notice %></p>

<a href="/uploads/<%= @recording.filename %>">hey</a>
<p>
 <audio  preload="none" id="mysong" controls>
  <source  src="/uploads/<%= @recording.filename %>" type="audio/wav">
  Your browser does not support the audio tag.
</audio>
</p>

<p>
  <strong>Song: <%=@recording.song.title %> - <%=@recording.song.artist%></strong>
<%= button_to 'supprimer cet enregistrement', @recording, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<%= link_to 'Edit', edit_recording_path(@recording) %> |
<%= link_to 'Back', recordings_path %>
