<p id="notice"><%= notice %></p>

<h1>Ytlinks</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ytlinks.each do |ytlink| %>
      <tr>
        <td><%= ytlink.link %></td>
        <td><%= ytlink.song_id %></td>
        <td><%= link_to 'Show', ytlink %></td>
        <td><%= link_to 'Edit', edit_ytlink_path(ytlink) %></td>
        <td><%= link_to 'Destroy', ytlink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ytlink', new_ytlink_path %>
