<p id="notice"><%= notice %></p>

<h1>Pieces</h1>
<%if @playlist%>
<%=render "playlists/form", playlist: @playlist%>
<%end%>
<%=form_with scope:"",url: pieces_path,html:{method:"get"}  do |form|%>
<div>
length
<%=form.check_box :length%>
</div>
<div>
tempo
<%=form.check_box :tempo%>
</div>
<div>
date
<%=form.check_box :date%>
</div>
<div>
style
<%=form.check_box :style%>
</div>
<div>
<%=form.label "styleasc", "style ordre ascendant "%>
<%=form.radio_button :styleasc, "asc"%>
</div>
<div>
<%=form.label "styleasc", "style ordre descendant"%>
<%=form.radio_button :styleasc, "desc"%>
</div>
<div>
<%=form.label "tempoasc", "tempo ordre ascendant "%>
<%=form.radio_button :tempoasc, "asc"%>
</div>
<div>
<%=form.label "tempoasc", "tempo ordre descendant"%>
<%=form.radio_button :tempoasc, "desc"%>
</div>
<div>
<%=form.label "dateasc", "length ordre ascendant "%>
<%=form.radio_button :dateasc, "asc"%>
</div>
<div>
<%=form.label "dateasc", "lengthj ordre descendant"%>
<%=form.radio_button :lengthasc, "desc"%>
</div>
<div>
<%=form.label "dateasc", "length ordre ascendant "%>
<%=form.radio_button :dateasc, "asc"%>
</div>
<div>
<%=form.label "lengthasc", "lengthj ordre descendant"%>
<%=form.radio_button :lengthasc, "desc"%>
</div>
<%=form.submit "voir ma playlist"%>
<%end%>

<table>
  <thead>
    <tr>
      <th>Tempo</th>
      <th>Date</th>
      <th>Title</th>
      <th>Composer</th>
      <th>Length</th>
      <th>Style</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pieces.each do |piece| %>
      <tr>
        <td><%= piece.tempo %></td>
        <td><%= piece.date %></td>
        <td><%= piece.title %></td>
        <td><%= piece.composer %></td>
        <td><%= piece.length %></td>
        <td><%= piece.style %></td>
        <td><%= link_to 'Show', piece %></td>
        <td><%= link_to 'Edit', edit_piece_path(piece) %></td>
        <td><%= link_to 'Destroy', piece, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece', new_piece_path %>
