<p id="notice"><%= notice %></p>
<h1>Recordings</h1>
<%if params[:page].to_i == 0%>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Song</th>
      <th>downlod</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordings.each do |recording| %>
      <tr>
        <td><a href="javascript:void(0)" onclick="window.audio.src='/uploads/<%=recording.filename%>';window.audio.load();">ecouter</a> </td>
<td>
<a id="save" href="/uploads/<%= recording.filename %>" download="<%=recording.filename%>.wav"><img src="/img/save.svg"></a>
</td>
        <td><%= recording.song.title %> - <%=recording.song.artist%></td>
        <td><%= link_to 'voir cet enregistrement', recording %></td>
        <td><%= link_to 'enregistrer un autre de celui-là', recording.song %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%=link_to "voir tous les enregistrements",recordings_path%>



<%end%>

<h1>Songs</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th>number of recordings</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.artist %></td>
        <td><%= song.title %></td>
        <td><%= song.nbrec %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%if @songsprecedent%>
<%=link_to "<",songs_path(page: @songsprecedent)%>
<%end%>
<%if @songssuivant%>
<%=link_to ">", songs_path(page: @songssuivant)%>
<%end%>

<br>

<%= link_to 'New Song', new_song_path %>
<%=content_for :js do%>
<script src="/js/audiodisplay.js"></script>
        <script src="/js/recorderjs/recorder.js"></script>
        <script src="/js/main.js"></script>
<%end%>

