<%=content_for :title do%><%=@song.title%> recordings - <%end%>      <section class="list-mysound-clip">
<div style="width:<%=30+@song.recordings.length* 100%>px;" class="div2">
<%@song.recordings.each do |x|%>
    <%begin%>
    <%if x.partonly %>
    <div class="mysound">
        <button onclick="myaccomp<%=x.id%>.play();mypart<%=x.id%>.play();">
      play
    </button>
    
    <button  onclick="myaccomp<%=x.id%>.pause();mypart<%=x.id%>.pause();">pause</button>
    accompaniemnt
     <audio id="myaccomp<%=x.id%>" controls  preload="none">
  <source  src="/uploads/<%=x.accompaniment.filename%>" type="audio/wav">
  Your browser does not support the audio tag.
</audio>
    part
     <audio id="mypart<%=x.id%>" controls  preload="none">
  <source  src="/uploads/<%=x.filename%>" type="audio/wav">
  Your browser does not support the audio tag.
</audio>
    </div>
    <%else%>
<div class="mysound">
<p class="mycontent"><%=x.mycontent%></p>
   <audio class="mysong<%=x.id%>" controls  preload="none">
  <source  src="/uploads/<%=x.filename%>" type="audio/wav">
  Your browser does not support the audio tag.
</audio>
</div>
    <%end%>
     <%rescue => e%>
    <%=e.message%>
    <%end%>
<%end%>
</div>
</section>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>

