<%=content_for :title do%><%=@song.title%> recordings - <%end%>      <section class="list-mysound-clip">
<div style="width:<%=30+@song.recordings.length* 100%>px;" class="div2">
<%@song.recordings.each do |x|%>
    <%begin%>
    <%if x.partonly %>
    <div class="mysound">
    part
<p class="mycontent"><%=x.mycontent%></p>
<a href="javascript:void(0)" data-myurl="/uploads/<%=x.accompaniment.filename%>" onclick="window.audio.pause();window.audio.src=this.dataset.myurl;window.audio.play();">ecouter</a>
<p class="mycontent">accomp</p>
<a href="javascript:void(0)" data-myurl="/uploads/<%=x.filename%>" onclick="window.audio.pause();window.audio.src=this.dataset.myurl;window.audio.play();">ecouter</a>
    </div>
    <%else%>
<div class="mysound">
<p class="mycontent"><%=x.mycontent%></p>
<a href="javascript:void(0)" data-myurl="/uploads/<%=x.filename%>" onclick="window.audio.pause();window.audio.src=this.dataset.myurl;window.audio.play();">ecouter</a>
</div>
    <%end%>
     <%rescue => e%>
    <%=e.message%>
    <%end%>
<%end%>
</div>
</section>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>

