<p id="notice"><%= notice %></p>
<div id="myid" hidden><%=@song.id%></div>

<p id="log"></p>
<%=content_for :title do%>
<%=@song.title%>
<%end%>

<style>

</style>

<p>
  <%= @song.artist %>
</p>
      <header>

        <h1>
<%=@song.title%></h1>
	<div id="controls">
		<img id="record" src="/img/mic128.png" onclick="toggleRecording(this);">
<form id="myvideoform"> </form>
<form id="myform"><textarea name="mycontent"></textarea> </form>
		<a id="save" href="#"><img src="/img/save.svg"></a>
	</div>


      </header>
   <div class="wrapper">


<div id="viz">
		<canvas id="analyser" width="1024" height="50"></canvas>
		<canvas id="wavedisplay" width="1024" height="50"></canvas>
	</div>


      </section>
<%=link_to "all the recordings", recordings_song_path(@song.id)%>
      <section class="sound-clips">
        <%#@a=1%>
        <%#@xx=Dir.glob(Rails.root.to_s+"/public/uploads/**recording**")%>
        <%# @xx.select{|h|h.include?(@song.myfilename+"recording")}.each do |h|%>

        <%#end%>


      </section>
    </div>


<div class="accompaniment">
  <h4>accompagnement</h4>
<%if Dir.glob(Rails.root.to_s+"/public/uploads/**.mp3").any?{|x|x.include?(@song.title.parameterize+@song.artist.parameterize+".mp3")}%>


   <audio  preload="none" id="mysong" controls>
  <source  src="/uploads/<%=@song.title.parameterize+@song.artist.parameterize%>.mp3" type="audio/mp3">
  Your browser does not support the audio tag.
</audio>
<%end%>
  <%=form_with model: @song do |form|%>
    <%=form.file_field :myfile%>
    <%=form.submit "ajouter le morceau"%>
  <%end%>
  <h4>accompagnement</h4>
<%if Dir.glob(Rails.root.to_s+"/public/uploads/**accompaniment**").any?{|x|x.include?(@song.title.parameterize+@song.artist.parameterize)}%>


   <audio  preload="none" id="mysong" controls>
  <source  src="/uploads/<%=@song.title.parameterize+@song.artist.parameterize%>.mp3" type="audio/mp3">
  Your browser does not support the audio tag.
</audio>
<%end%>
  <%=form_with model: @song do |form|%>
    <%=form.file_field :myfile2%>
    <%=form.submit "ajouter l'accompagnement"%>
  <%end%>
  <h4>partie</h4>
<%if Dir.glob(Rails.root.to_s+"/public/uploads/**partie**").any?{|x|x.include?(@song.title.parameterize+@song.artist.parameterize)}%>


   <audio  preload="none" id="mysong" controls>
  <source  src="/uploads/<%=@song.title.parameterize+@song.artist.parameterize%>.mp3" type="audio/mp3">
  Your browser does not support the audio tag.
</audio>
<%end%>
  <%=form_with model: @song do |form|%>
    <%=form.file_field :myfile3%>
    <%=form.submit "ajouter la partie"%>
  <%end%>

</div>



<%= link_to 'Filmer', vids_song_path(@song) %> |
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
<%=content_for :js do%>
<script src="/js/audiodisplay.js"></script>
        <script src="/js/recorderjs/recorder.js"></script>
        <script src="/js/main.js"></script>
<%end%>
