<p id="notice"><%= notice %></p>
<div id="myid" hidden><%=@song.id%></div>

<p id="log"></p>
<%=content_for :title do%>
<%=@song.title%>
<%end%>

<style>

</style>

<p>
  <%= @song.artist %>
</p>
<div id="toselect" hidden><%=params[:my_devices]%></div>
<div id="toselectoutput" hidden><%=params[:my_devices_output]%></div>
<span>input</span> 
<%=select_tag :my_devices,options_for_select(@my_devices), {include_blank:"",selected: params[:my_devices],onchange: "window.location='#{request.path}?my_devices='+String(this.value)+'&my_devices_output'+String(my_devices_output.value)"}%>
<span>output</span>
<%=select_tag :my_devices_output,options_for_select(@my_devices), {include_blank:"",selected: params[:my_devices_output],onchange: "window.location='#{request.path}?my_devices_output='+String(this.value)+'&my_devices='+String(my_devices.value)"}%>
      <header>

        <h1>
<%=@song.title%></h1>
	<div id="controls">
		<img id="record" src="/img/mic128.png" onclick="toggleRecording(this);">
<form id="myvideoform"> </form>
<form id="myform"><div><!-- comment -->

<%=label_tag :mycontent, "Texte de mon message"%>
<%=select_tag :mycontent,  options_from_collection_for_select(@mymessages, "id", "content"), include_blank: "texte du message que j'ai enregistré"%> </form>
</div><a id="save" href="#"><img src="/img/save.svg"></a>
	</div>


      </header>
   <div class="wrapper">


<div id="viz">
		<canvas id="analyser" width="1024" height="50"></canvas>
		<canvas id="wavedisplay" width="1024" height="50"></canvas>
	</div>


      </section>

      <section class="sound-clips">
        <%#@a=1%>
        <%#@xx=Dir.glob(Rails.root.to_s+"/public/uploads/**recording**")%>
        <%# @xx.select{|h|h.include?(@song.myfilename+"recording")}.each do |h|%>

        <%#end%>


      </section>
    </div>


<div class="heyaccompaniment">
  <label for="recordpart"> enregistrer la partie seule (avec  l'accompagnement)
      <input id="recordpart" type="checkbox" name="recordpart" value="1" /></label>
</div>

  <h4>accompagnement</h4>
  <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <%paspremier=false%>
<%@song.accompaniments.each do |acc|%>
  <div class="carousel-item <%= !paspremier ? "active" : ""%>">


    <a href="javascript:void(0)" data-myurl="/uploads/<%=acc.filename%>" onclick="window.audio.pause();window.audio.src=this.dataset.myurl;window.audio.play();">ecouter</a>
      </div>

        <%paspremier=true%>
<%end%>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div id="overlay">
  <div id="text">Overlay Text</div>
</div>
<%=render @song.ytlinks%>
<%=render @song.comments%>
<h1>New Comment</h1>

<%= render 'comments/form', comment: @comment %>



<%= link_to 'Filmer', vids_song_path(@song) %> |
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'add yt link', addytlink_song_path(@song) %> |
<%= link_to 'voir les enregistreemetns deja fait', showmysong_song_path(@song) %> |
<%=link_to "all the recordings (mauvais lien)", recordings_song_path(@song.id)%> |
<%= link_to 'Back', songs_path %>
<%=content_for :js do%>
<script src="/js/audiodisplay.js"></script>
        <script src="/js/recorderjs/recorder.js"></script>
        <script src="/js/main.js"></script>
<%end%>
