<%= form_with(model: mixer, local: true) do |form| %>
  <% if mixer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mixer.errors.count, "error") %> prohibited this mixer from being saved:</h2>

      <ul>
        <% mixer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ctrf_room_out_l %>
    <%= form.check_box :ctrf_room_out_l %>
  </div>

  <div class="field">
    <%= form.label :ctrl_room_out_r %>
    <%= form.check_box :ctrl_room_out_r %>
  </div>

  <div class="field">
    <%= form.label :_2tr_out_r %>
    <%= form.check_box :_2tr_out_r %>
  </div>

  <div class="field">
    <%= form.label :_2tr_out_l %>
    <%= form.check_box :_2tr_out_l %>
  </div>

  <div class="field">
    <%= form.label :_2tr_in_r %>
    <%= form.check_box :_2tr_in_r %>
  </div>

  <div class="field">
    <%= form.label :_2tr_in_l %>
    <%= form.check_box :_2tr_in_l %>
  </div>

  <div class="field">
    <%= form.label :main_out_l %>
    <%= form.check_box :main_out_l %>
  </div>

  <div class="field">
    <%= form.label :main_out_r %>
    <%= form.check_box :main_out_r %>
  </div>

  <div class="field">
    <%= form.label :phones %>
    <%= form.check_box :phones %>
  </div>

  <div class="field">
    <%= form.label :fx_send %>
    <%= form.check_box :fx_send %>
  </div>

  <div class="field">
    <%= form.label :phantom %>
    <%= form.check_box :phantom %>
  </div>

  <div class="field">
    <%= form.label :fx_send_value %>
    <%= form.text_field :fx_send_value %>
  </div>

  <div class="field">
    <%= form.label :_2tr_to_ctrl_room %>
    <%= form.check_box :_2tr_to_ctrl_room %>
  </div>

  <div class="field">
    <%= form.label :_2tr_to_mix %>
    <%= form.check_box :_2tr_to_mix %>
  </div>

  <div class="field">
    <%= form.label :fx_to_ctrl_room %>
    <%= form.check_box :fx_to_ctrl_room %>
  </div>

  <div class="field">
    <%= form.label :phones_value %>
    <%= form.text_field :phones_value %>
  </div>

  <div class="field">
    <%= form.label :main_mix_value %>
    <%= form.text_field :main_mix_value %>
  </div>

  <div class="field">
    <%= form.label :song_id %>
    <%= form.check_box :song_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
