<p id="notice"><%= notice %></p>

<%=render @mixer%>
<p>
  <strong>Ctrf room out l:</strong>
  <%= @mixer.ctrf_room_out_l %>
</p>

<p>
  <strong>Ctrl room out r:</strong>
  <%= @mixer.ctrl_room_out_r %>
</p>

<p>
  <strong>2tr out r:</strong>
  <%= @mixer._2tr_out_r %>
</p>

<p>
  <strong>2tr out l:</strong>
  <%= @mixer._2tr_out_l %>
</p>

<p>
  <strong>2tr in r:</strong>
  <%= @mixer._2tr_in_r %>
</p>

<p>
  <strong>2tr in l:</strong>
  <%= @mixer._2tr_in_l %>
</p>

<p>
  <strong>Main out l:</strong>
  <%= @mixer.main_out_l %>
</p>

<p>
  <strong>Main out r:</strong>
  <%= @mixer.main_out_r %>
</p>

<p>
  <strong>Phones:</strong>
  <%= @mixer.phones %>
</p>

<p>
  <strong>Fx send:</strong>
  <%= @mixer.fx_send %>
</p>

<p>
  <strong>Phantom:</strong>
  <%= @mixer.phantom %>
</p>

<p>
  <strong>Fx send value:</strong>
  <%= @mixer.fx_send_value %>
</p>

<p>
  <strong>2tr to ctrl room:</strong>
  <%= @mixer._2tr_to_ctrl_room %>
</p>

<p>
  <strong>2tr to mix:</strong>
  <%= @mixer._2tr_to_mix %>
</p>

<p>
  <strong>Fx to ctrl room:</strong>
  <%= @mixer.fx_to_ctrl_room %>
</p>

<p>
  <strong>Phones value:</strong>
  <%= @mixer.phones_value %>
</p>

<p>
  <strong>Main mix value:</strong>
  <%= @mixer.main_mix_value %>
</p>

<p>
  <strong>Song:</strong>
  <%= @mixer.song_id %>
</p>

<%= link_to 'Edit', edit_mixer_path(@mixer) %> |
<%= link_to 'Back', mixers_path %>
