<!DOCTYPE html>
<html>
  <head>
    <title><%=yield :title%> <%=(yield :title).length > 0 ? " - " : "" %>The Violin explorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <%= stylesheet_link_tag "mixers", :media => "all" %>
<link rel="stylesheet" href="/assets/<%=params[:controller]%>.css"/>
<link rel="stylesheet" href="/assets/<%=params[:controller]%>_<%=params[:action]%>.css"/>

  </head>

  <body>
<nav style="width:100%;height:50px;background:blue;color:yellow;">
    <a href="/auth/login">connexion/inscription</a> |
    <a href="/">bienvenue</a> |
<%=link_to "pieces",pieces_path%> | 
<%=link_to "my messages for radio",mymessages_path%> |
<%=link_to "my mixer",mixers_path%> |
<%=link_to "playlists",playlists_path%>

</nav>
      <main>
    <%= yield %>
      </main>
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<%=yield :js%>
  </body>
</html>
